<h1>Hola mundo :v</h1>
<h1>Primera aparicion en Rails</h1>
<!<%  [1,2,3,45,6,7,8].each do |e| %>>
		
<!<%end %>>

<!<% cad="Hola a todos" %>>
	<!<%for i in (1..10)%> >
	<!<%for j in (1..10)%>>
			<!<%= (i*j) %>>
			
			<!<%end%>>			
		<!<%end	%> >